/* 
// ===============================
// src/components/Footer.css
// =============================== */
.footer {
  background-color: #231277;
  color: white;
  text-align: center;
  padding: 15px;
}
